<template>
  <div class="main_app">
    <h2>Hotel Price Comparison</h2>
    <h3>Destination</h3>
    <input type="text" v-model="destination"/>
    <h3>Start Date</h3>
    <input type="date" id="start" name="trip-start" v-model="startDate"/>
    <h3>End Date</h3>
    <input type="date" id="end" name="trip-end" :min="startDate" v-model="endDate"/>
    <h3>Number of room</h3>
    <input type="number" v-model="room"/>
    <h3>Number of people</h3>
    <input type="number" v-model="people"/>
    <h3>Website to search</h3>
    <div class="row">
      <button @click="selectAll">Select All</button>
      <button @click="unselectAll">Unselect All</button>
    </div>
    <div class="row">
      <div class="column"><input type="checkbox" id="agoda" v-model="agoda" /><label for="agoda">Agoda</label></div>
      <div class="column"><input type="checkbox" id="bookingCom" v-model="bookingCom" /><label for="bookingCom">Booking.com</label></div>
      <div class="column"><input type="checkbox" id="expedia" v-model="expedia" /><label for="expedia">Expedia</label></div>
      <div class="column"><input type="checkbox" id="hotelCom" v-model="hotelCom" /><label for="hotelCom">Hotel.com</label></div>
      <div class="column"><input type="checkbox" id="hotelCom" v-model="hotelCombined" /><label for="hotelCom">HotelCombined</label></div>
      <div class="column"><input type="checkbox" id="japanIcan" v-model="japanIcan" /><label for="japanIcan">JapaniCan</label></div>
    </div>
    <button @click="afterSubmit">Search</button>

    <p>Destination: {{destination}} Start:{{startDate}} End:{{endDate}} Room:{{room}} People:{{people}}</p>
    <p>Agoda {{agoda}} Booking.com {{bookingCom}} Expedia {{expedia}} Hotel.com {{hotelCom}} JapaniCan {{japanIcan}}</p>

  </div>
</template>

<script>
export default {
  name: 'popupView',
  data() {
    return {
      destination: '',
      startDate:'',
      endDate: '',
      room: 1,
      people: 2,
      agoda: true,
      bookingCom : true,
      expedia : true,
      hotelCom : true,
      hotelCombined : true,
      japanIcan : true,
      agoda_url:'https://www.agoda.com/',
      bookingCom_url: 'https://www.booking.com/',
      expedia_url: 'https://www.expedia.com.hk/',
      hotelCom_url: 'https://zh.hotels.com/',
      hotelCombined_url:'https://www.hotelscombined.hk/',
      japanIcan_url:'https://www.japanican.com/',

    }
  },
  methods: {
    selectAll(){
      this.agoda= true;
      this.bookingCom = true;
      this.expedia = true;
      this.hotelCom = true;
      this.hotelCombined = true;
      this.japanIcan = true;
    },
    unselectAll(){
      this.agoda= false;
      this.bookingCom = false;
      this.expedia = false;
      this.hotelCom = false;
      this.hotelCombined = false;
      this.japanIcan = false;
    },
    async afterSubmit(){
      this.agodaSearch()
      .then(this.bookingComSearch()
        .then(this.expediaSearch()
          .then(this.hotelComSearch()
            .then(this.hotelCombinedSearch()
              .then(this.japanIcanSearch())
            )
          )
        )
      );
    },
    openTabs(website,newUrl){
      if (website === true) {
        chrome.tabs.create({ url: newUrl });
        return true;
      } 
      return false;
    },
    agodaSearch(){
      return new Promise((resolve) => {
        let proceed = this.openTabs(this.agoda,this.agoda_url);
        if(proceed === true){
          console.log('a',proceed );
          document.getElementsByClassName('SearchBoxTextEditor')[0].value = this.destination;
          document.getElementsByClassName('IconBox--checkIn')[0].click();
          let currentCalendar = document.getElementsByClassName('PriceSurgePicker-Day');
          for (let i = 0; i<currentCalendar.length; i++){
            console.log();
          }
        }
        console.log('a',proceed );
        resolve();
      });
    },
    bookingComSearch(){
      return new Promise((resolve) => {
        let proceed = this.openTabs(this.bookingCom,this.bookingCom_url);
        if(proceed === true){console.log('b',proceed )}
        console.log('b',proceed );
        resolve();
      });
    },
    expediaSearch(){
      return new Promise((resolve) => {
        let proceed = this.openTabs(this.expedia,this.expedia_url);
        if(proceed === true){console.log('b',proceed )}
        console.log('c',proceed );
        resolve();
      });
    },
    hotelComSearch(){
      return new Promise((resolve) => {
        let proceed = this.openTabs(this.hotelCom,this.hotelCom_url);
        if(proceed === true){console.log('b',proceed )}
        console.log('d',proceed );
        resolve();
      });
    },
    hotelCombinedSearch(){
      return new Promise((resolve) => {
        let proceed = this.openTabs(this.hotelCombined,this.hotelCombined_url);
        if(proceed === true){console.log('b',proceed )}
        console.log('e',proceed );
        resolve();
      });
    },
    japanIcanSearch(){
      return new Promise((resolve) => {
        let proceed = this.openTabs(this.japanIcan,this.japanIcan_url);
        if(proceed === true){console.log('b',proceed )}
        console.log('f',proceed );
        resolve();
      });
    }
  }
}

</script>

<style>
.main_app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  width: 500px;
}
.row {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}
</style>
